body { font: 1em/1.25 sans; font-weight: lighter; color: #444; background: #fffff8;
    max-width: 1000px; margin: auto; }
p {margin: .6em 0;}

a:link { font-weight: normal; color: #0ad; text-decoration: none; }
a:visited { color: #a0d; text-decoration: none; }
a:link:hover { text-decoration: none; color: #0da; }

ul { list-style-type: none; margin: 0; padding: 0; }
dt { border-bottom: 1px dotted #ddd; margin-left: 10px;
    font-family: monospace; font-size: 1.3em; }
dd { padding-left: 20px; margin-left: 20px; margin-bottom: 1.5em; }
dt:target { background-color: yellow; }
dt:target + * { border-left: yellow 5px solid; margin-left: 15px; }

blockquote { margin-left: 3em; }

table {border-spacing: 0; width:100%}
td {padding: .5em 0;}
tr:hover {background-color: #eed}

/* layout */
#navigation { position: fixed; top: 1em; bottom: 1em;
    overflow-y: scroll; padding-top: 1em; width: 16em; }
#navigation h2, #navigation h3 { margin: 0 .8em; margin-top: 1em; }
#navigation h2 { margin-bottom: 1em; font-size: 1em; }
#navigation h3 { border-bottom: 1px dotted #ddd; font-size: .9em; }
#navigation a { display: block; padding: .2em 1em;
    font-family: monospace; font-size: 1em; }
#navigation a:hover { background-color: #eee; }

#content { margin-left: 18em; padding: 1em; }
#content h1 { font-size: 1.3em; }
#content h2 { font-size: 1.2em; padding-top: 1em; border-top: 2px #ddd dotted; }

footer { margin-left: 18em; padding: 1em; }
#about { border-left: 16em solid #123; padding-right: 1em; text-align: right; }

/* code */
code { padding: .2em; font-family: monospace;
    background-color: #eed; color:#555; }
pre br { margin-bottom: .2em }
pre { display: inline-block; padding: 1em; margin: 0 1em 1em 0;
    vertical-align: top; overflow: auto;
    font-family: monospace; width: calc(100% - 2em); white-space: normal;
    background-color: #eed; color:#555; }
pre.run { width: calc(60% - 3em); }
pre.success { width: calc(40% - 3em); }
pre.fail { width: calc(100% - 3em); }
pre.error { width: calc(100% - 3em); }
pre::before { content: "Code"; display: block;
    position: relative; top: -.25em;
    font-family: sans-serif; color: black; }
pre.success::before {content:"Result"}
pre.error::before {content:"Oops, there was an error"; color:red;}
pre.fail::before {content:"This was returned instead"; color:red;}

/* syntax highlighting */
.comment { color: blue; }
.keyword { color: orange; font-weight: bold; }
.operator { color: black; font-weight: bold; }
.string { color: green; font-weight: bold; }
.escape { color: blue; font-weight: normal; }
.number { color: red; font-weight: bold; }

/* print? */
@media print {
    a { font-weight: bold; color: #048; text-decoration: underline; }
    body { background-color: #ffffff; }
    #content { margin-left: 0; }
    #navigation { display: none; }
}

/* toggle */
.turnable { }
.turnable > input { position: absolute; left: -9999px; }
.turnable > label { border: 1px solid #eee;
    display: block; cursor: pointer; position: relative;
    padding: .5em 1em; margin: 0; text-align: right; }
.turnable > div { background: #eed; height: 0; overflow: hidden;
    transition: height 1s, padding 1s; padding: 0 1em; }
.turnable > input:hover + label { color: #0ad; }
.turnable > input:checked ~ div { height: auto; padding: 1em 1em; }